<div class="heading">Mario Weyers – Ons leraar</div>

<p>Gaan kyk op ack <a href="http://www.acknorthshore.co.nz/inligting" target="_blank">ACK Northshore Inligting</a> se website</p>



<div class='heading'>Geemeente Credo</div>

<p>Ons gemeente se Roeping in hierdie land waarheen die Here ons gelei het, is om die mees liefdevolle en uitreikende
Christelike tuiste in New Zealand te wees vir gemeentelede, hulle familielede en vriende, asook vir soekers in ons
gemeenskap.</p>

<p>- Ons dien en loof God-Drie-Enig jubelend, gelei deur Sy Woord, soos vervat in die Bybel, en onder leiding van die
Heilige Gees</p>
<p>- Ons strewe na opregte geloofservaring en gee erkenning aan verskillende generasies en elkeen se unieke styl van
aanbidding en belewing van God.</p>


<p class='heading'>Geloofsfamilie</p>

<p>ACK Tauranga is 'n Geloofsfamilie wat graag ons roeping in New Zealand wil uitleef. Ons is hier onder die diepe
besef dat ons roeping bepaal wat ons karakter is. Ons droom daaroor om die mees liefdevolle en uitreikende Christelike
tuiste in New Zealand te wees.</p>

<p>Tauranga gemeente strewe na opregte geloofservaring en gee erkenning aan verskillende generasies en elkeen se unieke
styl van aanbidding en belewing van God. Ons wil 'n veilige tuiste skep waar ons met hart en hande kan uitreik na
elkeen in ons geloofsfamilie en na ons medemens in die gemeenskap, met warmte, liefde en aanvaarding. Ons wil ook graag
ruimte bied waar elkeen aktief kan bydra tot ons geloofsfamilie se doelstellings, volgens ons talente, gawes en
inspirasie, en saam bou aan die uitlewing van ons drome.</p>

<p>Jesus se voorbeeld van Leier wat dien, is ons aansporing om geestelik te groei en te ontwikkel sodat ons toegerus kan
wees vir diensbaarheid en dissipelskap in die gemeenskap waar ons leef en werk.</p>

<p>Ons dien en loof God-Drie-Enig jubelend, gelei deur Sy Woord, soos vervat in die Bybel, en onder leiding van die
Heilige Gees. Ons oog bly gefokus op Jesus Christus (Heb 12: 2) terwyl ons strewe om Hom as persoonlike Saligmaker te
bely en meer en meer soos Hy te word, sodat ek reg sal wees wanneer Hy weer kom.</p>

<p>Ons wil te alle tye oop, deursigtige en deelnemende kommunikasie beoefen en ondersteun. Jy word vriendelik genooi om in
te loer by ons gemeente asook al die interessante inligting op ons webtuiste te lees om ons beter te leer ken.</p>



<p class='heading'>Unieke Uitdagings</p>

<p>Tauranga gemeente een van 9 Afrikaanse gemeentes van die Afrikaanse Christen Kerk van New
Zealand. Ons gemeente het sy eie unieke uitdagings rondom ’n verskeidenheid van dinge wat ’n spesiale benadering
vereis.</p>

<p>Ons is ’n immigrante-gemeente wat saamgestel word uit persone van al die moontlike dele uit Suid-Afrika. Uiteenlopende
redes het aanleiding gegee vir mense om ’n verskuiwing te maak. ’n Landsverhuising is baie meer ingrypend as om jou
“huis” op te gee en jou vriende te groet. Immigrante moes baie dinge agterlaat en deur groot verliese werk om hier te
wees. Die rouproses begin eintlik eers nadat hulle in hul nuwe tuiste aangekom het. Verlange na familie, vriende, die
bekende, weersomstandighede, werk, kultuur ens. is faktore wat ’n duidelike rol speel.</p>

<p>Verandering is nie maklik nie. Dit plaas groot druk op huwelike en gesinne ondervind dat die aanpassing van kinders ’n
uitdaging is. Groot finansiële uitgawes is aangegaan om hier te wees en dit verg ’n aanpassing in lewenstyl en
kwaliteit van lewe. Die spanning van emigrasie, waar jy aanvanklik sonder `n bekende ondersteuningstelsel van familie,
vriende en die kerk moet klaarkom, stel hoë emosionele en fisiese eise. Dit is hier waar die gemeente ’n belangrike
pastorale rol speel om lidmate met liefde en begrip te ondersteun.</p>

<p>Daar is ook verskille tussen die behoeftes en belange van diegene wat pas geïmigreer het en diegene wie al ’n geuimte
tyd in New Zealand bly. ’n Voortdurende behoefte bestaan dat die gemeente die christelike waardes sal ondersteun en
lidmate bly toerus om hul weerbaar te maak teen die aanslae van die lewe. Groepsdruk, dwelmmisbruik, verbrokkelende
verhoudings, swak waardes en norme is realiteite om rekening mee te hou.</p>

<p>Ons gemeente is saamgestel uit mense van verskillende kerklike agtergronde en verteenwoordig ’n breë geestelike
spektrum. Veral is daar die uitdaging om na buite die grense van die gemeente uit te reik en so ons harte en hande oop
te maak vir die gemeenskap waarin ons leef en werk.</p>

<p>As plek van aanbidding, maak ons gebruik van die Saint Enochs kerk gebou in Tauranga South. Dis ’n gerieflike en
sentrale gebou met goeie fasiliteite waar ons geloofsonderrig aan kleuters, kinders en tieners in Engels gee. ’n
Heerlike saamkuier word gewoonlik na die erediens oor ’n koppie koffie/tee gedoen!</p>

<p>Die gemeente stel met sy samestelling en geografie groot uitdagings aan die bestuur daarvan. ’n Gemeenteraad, wat
leiers van verskillende bedieninge bevat, asook lidmate wat met hul talente, gawes en inspirasies geroepe voel en dien,
word as bestuursmodel gebruik. Hierdie bedieningsmodel gee aan elke gemeentelid die geleentheid om sy/haar gawes uit te
leef en diensbaar in die koninkryk te wees. Dis elke lidmaat se taak om die gemeente met die Here se genade te “laat
werk”.</p>



<p class='heading'>Roeping</p>

<p>Roeping kan omskryf word met woorde soos: “kreet, hard skreeu, iemand na jou laat kom of jou posisie verander” ens. Ons
herinner ons daaraan hoe God telkens mense geroep het as Hy bloot gesê het: “Volg My!” (Mt 9:9b). Ook herinner dit ons
hoe Jesus in 1 Petr 2: 9-10 sê dat ons sy Geloofsgemeenskap (-familie) is; sy koninklike priesterdom; ’n nasie wat vir
Hom afgesonder is asook sy eiendom. “Hy het ons uit die donker van ons sondes geroep om na die helder lig te kom waar
Hy is”. Ja, want voorheen was ons soos boemelaars met wie niemand iets te doen wou hê nie, maar nou is julle God se
mense!</p>

<p>Die ACK Tauranga wil graag sensitief wees vir God se roeping. Roeping is in ons Credo opgeneem aangesien ons
erkenning wil gee aan die Heilige Gees se roeping en bewusmaking in ons lewe. God roep ons deur die Heilige Gees se
inspirasie om diens te lewer. En roeping begin op ons knieë en stil word voor God in afwagting om te vra: WAAR KAN EK
DIEN EN WAT KAN EK DOEN?</p>



<p class='heading'>Doop</p>

<p>Aangesien ons gemeente saamgestel is uit lidmate wat vanuit verskillende kerklike- en geestelike agtergronde kom, word
daar ruimte gemaak wat die doop betref. Ons wil die saak rondom die doop nie as ’n kern-saak sien en in leerstelligheid
verval nie.</p>

<p>Pleks om die doop ’n ‘leerstellige kwessie’ te maak, word voorsiening gemaak vir ’n mate van variasie op die tema van
Bybelse interpretasies daarvan. Ons is uit die aard van die saak verbind om beide Kinder- of Volwasse Doop en ook
Kindertoewyding so te bestuur dat dit Skriftuurlik verantwoordbaar is. Volwasse doop kan besprinkeling of
onderdompeling insluit.</p>

<p>Ons benadering is in harmonie met die resultate van ’n omvattende opname wat onder lidmate gedoen is oor onder meer die
hantering van die sakramente in ons gemeente.</p>

<p>As Geloofsfamilie staan die sentrale waarheid ononderhandelbaar vas, naamlik dat Jesus Christus die “Weg, Waarheid en
Lewe” is (Jh 14:6).</p>

<p>- Kinderdoop / Kindertoewyding vind gewoonlik die eerste Sondag van ’n maand plaas</p>
<p>- Volwasse doop – soos behoefte ontstaan</p>
<br>
<br>
<br>