<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
  <input type="hidden" name="LidmaatId" #LidmaatId="ngModel" [(ngModel)]="service.formData.LidmaatId">
  <input type="hidden" name="Gemeente" #Gemeente="ngModel" [(ngModel)]="service.formData.Gemeente">
  <input type="hidden" name="#AddressID" #AddressID="ngModel" [(ngModel)]="service.formData.AddressID">
  <div class="form-group">
    <label class='whiteFont'>Naam</label>
    <input name="FirstName" #FirstName="ngModel" [(ngModel)]="service.formData.FirstName" class="form-control" required>
    <div class="validation-error" *ngIf="FirstName.invalid && FirstName.touched">Verpligte veld.</div>
  </div>
  <div class="form-group">
    <label>Van</label>
    <input name="LastName" #LastName="ngModel" [(ngModel)]="service.formData.LastName" class="form-control" required>
    <div class="validation-error" *ngIf="LastName.invalid && LastName.touched">Verpligte veld.</div>
  </div>
  <div class="form-group">
    <label>Email Address</label>
    <input type='email' name="Email" #Email="ngModel" [(ngModel)]="service.formData.Email" class="form-control">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Geboorte Datum</label>
      <!-- <mat-form-field> -->
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <input class="max_Width_80" matInput [matDatepicker]="myDatepicker" name="DOB" #DOB="ngModel" [(ngModel)]="service.formData.DOB">
      <mat-datepicker #myDatepicker></mat-datepicker>
      <!-- </mat-form-field> -->
    </div>
    <div class="form-group  col-md-6">
      <label>Geslag</label><br>

      <select class="custom-select max_Width_80" name="Gender" #Geslag="ngModel" [(ngModel)]="service.formData.Gender">
        <option value="Manlik">Manlik</option>
        <option value="Vroulik">Vroulik</option>
      </select>
    </div>

  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Huweliks Datum</label>
      <mat-datepicker-toggle matSuffix [for]="myWeddingpicker"></mat-datepicker-toggle>
      <input class="max_Width_80" matInput [matDatepicker]="myWeddingpicker" name="WeddingDate" #WeddingDate="ngModel"
        [(ngModel)]="service.formData.WeddingDate">
      <mat-datepicker #myWeddingpicker></mat-datepicker>
    </div>
    <div class="form-group  col-md-6">
      <label>Sel Foon</label>
      <input name="MobilePhone" #MobilePhone="ngModel" [(ngModel)]="service.formData.MobilePhone" class="form-control">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <input class="form-check-input" type="checkbox" value="" id="publicDates" name="publicDates" #PublicDates="ngModel"
        [(ngModel)]="service.formData.PublicDates">
      <label class="form-check-label" for="publicDates">Verjaarsdag in Kerk
      </label>
    </div>
    <div class="form-group  col-md-6">
      <input class="form-check-input" type="checkbox" value="" id="Active" name="Active" #Active="ngModel"
        [(ngModel)]="service.formData.Active">
      <label class="form-check-label" for="Active">Aktief
      </label>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Laaste Besoek</label>
      <mat-datepicker-toggle matSuffix [for]="myVisitpicker"></mat-datepicker-toggle>
      <input class="max_Width_80" matInput [matDatepicker]="myVisitpicker" name="LastVisit" #LastVisit="ngModel"
        [(ngModel)]="service.formData.LastVisit">
      <mat-datepicker #myVisitpicker></mat-datepicker>
    </div>
    <div class="form-group col-md-6">
      <!-- <label>Notas</label>
            <textarea rows="20" cols="50" name="comment" form="usrform" name="LastNotes" #LastNotes="ngModel" [(ngModel)]="service.formData.LastNotes">
                Enter text here...</textarea> -->
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label>Notas</label>
      <textarea id="LastNote" rows="20" cols="50" name="comment" form="usrform" name="LastNote" #LastNote="ngModel"
        [(ngModel)]="service.formData.LastNote">
                Enter text here...</textarea>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
  </div>
</form>

<!-- <hr>
    <h5>Address</h5>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label>Nommer</label>
        <input name="DOB" #EMPCode="ngModel" [(ngModel)]="service.formData.DOB" class="form-control">
      </div>
      <div class="form-group  col-md-10">
    <label>Straat</label>
        <input name="Geslag" #Mobile="ngModel" [(ngModel)]="service.formData.Geslag" class="form-control">
      </div>   
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Woon Buurt</label>
        <input name="WeddingDate" #EMPCode="ngModel" [(ngModel)]="service.formData.WeddingDate" class="form-control">
      </div>
      <div class="form-group  col-md-6">
    <label>Dorp</label>
        <input name="MobilePhone" #Mobile="ngModel" [(ngModel)]="service.formData.MobilePhone" class="form-control">
      </div>    
    </div> 
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Pos Kode</label>
        <input name="DOB" #EMPCode="ngModel" [(ngModel)]="service.formData.DOB" class="form-control">
      </div>
      <div class="form-group  col-md-6">
    <label>Huis Tel</label>
        <input name="Active" #Mobile="ngModel" [(ngModel)]="service.formData.Active" class="form-control">
      </div>   
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
    </div> -->
<!-- </form> -->
