<form #formWiki="ngForm" (submit)="onSubmit(formWiki)" autocomplete="on">
  <input type="hidden" name="Id" #Id="ngModel" [(ngModel)]="service.formWiki.Id">
  <div class="form-group">
    <label>Subject</label>
    <input name="Subject" #Subject="ngModel" [(ngModel)]="service.formWiki.Subject" class="form-control" required>
    <div class="validation-error" *ngIf="Subject.invalid && Subject.touched">Required Field.</div>
  </div>
  <div class="form-group">
    <label>Category</label>
    <input name="Category" #Category="ngModel" [(ngModel)]="service.formWiki.Category" class="form-control" required>
    <div class="validation-error" *ngIf="Category.invalid && Category.touched">Required Field.</div>
  </div>
  <div class="form-group">
    <label>Description</label>
    <input name="Description" #Description="ngModel" [(ngModel)]="service.formWiki.Description" class="form-control" required>
    <div class="validation-error" *ngIf="Description.invalid && Description.touched">Required Field.</div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12" >
      <label>Code</label>
      <textarea id="Code" rows="50" cols="50" name="Code" 
                form="formWiki" name="Code" #Code="ngModel"
                style="height: 15em; background-color: white; color:black;  font-family: Lato;"
        [(ngModel)]="service.formWiki.Code">
                Enter code here...</textarea>
    </div>
  </div>

 
  <div class="form-group">
    <button type="submit" [disabled]="formWiki.invalid" class="btn btn-lg btn-block">SUBMIT</button>
  </div>
</form>
<ngx-spinner bdOpacity=0.9 bdColor="" size="medium" color="#f30808" type="ball-running-dots" fullScreen="false">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
