<div class='row'>
  <div class='col-sm-12 col-lg-4'>
      <h3><b><u>Kerkraad</u></b></h3>
      <table class="table">
          <thead>
              <tr>
                  <th>Datum</th>
                  <th>Naam</th>
              </tr>
          </thead>
          <tr>
              <td>6 Januarie '19</td>
              <td>Piet<br>Koos</td>
          </tr>
          <tr>
              <td>13 Januarie '19</td>
              <td>Piet<br>Koos</td>
          </tr>
          <tr>
              <td>20 Januarie '19</td>
              <td>Piet<br>Koos</td>
          </tr>
          <tr>
              <td>27 Januarie '19</td>
              <td>Piet<br>Koos</td>
          </tr>
        </table>  
  </div>
  <div class='col-sm-12 col-lg-4'>
      <h3><b><u>Verwelkoming</u></b></h3>
      <table class="table table-hover">
          <thead>
              <tr>
                  <th>Datum</th>
                  <th>Naam</th>
              </tr>
          </thead>
          <tr>
              <td>6 Januarie '19</td>
              <td>Piet<br>Koos</td>
          </tr>
          <tr>
              <td>13 Januarie '19</td>
              <td>Piet<br>Koos</td>
          </tr>
          <tr>
              <td>20 Januarie '19</td>
              <td>Piet<br>Koos</td>
          </tr>
          <tr>
              <td>27 Januarie '19</td>
              <td>Piet<br>Koos</td>
          </tr>
        </table>  
  </div>
  <div class='col-sm-12 col-lg-4'>
      <h3><b><u>Gasvryheid</u></b></h3>
      <table class="table table-hover">
          <thead>
              <tr>
                  <th>Datum</th>
                  <th>Naam</th>
              </tr>
          </thead>
          <tr>
              <td>6 Januarie '19</td>
              <td>Piet<br>Koos</td>
          </tr>
          <tr>
              <td>13 Januarie '19</td>
              <td>Piet<br>Koos</td>
          </tr>
          <tr>
              <td>20 Januarie '19</td>
              <td>Piet<br>Koos</td>
          </tr>
          <tr>
              <td>27 Januarie '19</td>
              <td>Piet<br>Koos</td>
          </tr>
        </table>  
  </div>
</div>
