
<h2>Ons storie…</h2>
<p>Die ACK Hamilton was die 2de gemeente van die Afrikaanse Christen Kerk in New Zealand 
  en het op 16 Mei 2004 onafhanklik van die gemeente in Auckland begin funksioneer.</p>

<p>Die ACK van NZ is ’n onafhanklike denominasie wat in NZ ontstaan (1998) het weens 
  ’n behoefte onder ’n groep Suid-Afrikaners aan ’n geestelike bediening in Afrikaans. 
  Intussen het die ACK gegroei tot 10 onafhanklike gemeentes en ’n aantal bedieningspunte.</p>

<p>Elke gemeente het ’n unieke karakter wat voortspruit uit die samestelling van mense wat  
  die Here daar plaas. Die lidmate kom uit ’n wye verskeidenheid denominasies in Suid-Afrika.  
  Dit beteken dus dat dit vir almal ’n nuwe ervaring is van kerk-wees.  
  Dit is wonderlik bevrydend en verrykend, want ons leer by mekaar en leer ook om mekaar
   se verskillende maniere van aanbidding te akkommodeer en te aanvaar.</p>

<p>Dit is ’n wonderlike geleentheid om verby die (menslike) verskille en geskille 
  te kyk en die eenheid van gelowiges in Jesus Christus te beleef.   
  Daar is net één liggaam en net één Gees, soos daar net één hoop is 
  waartoe God ons geroep het. Daar is net één Here, één geloof, één doop, 
  één God en Vader van almal (Efesiërs 4:4-6).</p>

<h4>Ons struktuur en samestelling:</h4> 
<p>Die volgende is belangrike uitgangspunte in die struktuur:</p>

<div>Die Visie wat God aan die gemeente gegee het, nl dat ons ’n gemeente 
  moet wees met oop harte na Hom, na mekaar en na hulle wat nog buite is.<br>
Die kernwaardes wat ons as gemeente saam met die Visie aanvaar het.<br>
Die beginsel dat elke lidmaat belangrik is en daarom VERSORG moet word.<br>
Dat elke lidmaat ’n aktiewe liggaamsdeel van die liggaam van Christus is en 
daarom ’n funksie moet hê in die gemeente.<br>
Dat almal mede-verantwoordelik is en dat een nie belangriker as die 
ander is nie en dat ’n paar nie alles moet doen en andere niks nie.<br>
Dat lidmate volgens hulle gawes aangewend moet word.<br>
Dat daar BESTUUR sal wees van die aksies/bedieninge in die gemeente.<br>
Dat dit die gemeente in staat stel om te groei.<br>
Die stuktuur moet eenvoudig en aanpasbaar wees.</div>