#intro {
//  text-align: center;
  background-color: white;
  color: black; margin: 2em;
}

.intro {
  text-align: center;
  background-color: white;
  color: black; margin: 3em;
  div{
    div{
      div {
        text-align: left;
        padding-left: 1em;
      }
    }
  }
}

#logo {
  width: "80%"
}

#info {
  text-align: center;
  margin: auto;
  width: 80%;
  line-height: 1;
}
.heading {
  font-size: 2em;
  font-weight: bold;
}
.center {
  text-align: center
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
