#intro {
  text-align:center;
  background-color: white;
  color: black; margin: 2em;
}

#logo {
  width: "80%"
}

#info {
  text-align:center;
  margin: auto;
  width: 80%;
  line-height: 1;
}
.heading {
  font-size: 2em;
  font-weight: bold;
}
