<div class='col-12' style='margin-left: -20px'>
    <div style='width: 100%; height: 20%; margin: 0 auto;' class='center'>
        <div class='center' 
        [fittext]="true" 
        [delay] = "0"
        [minFontSize] = 18>
            Welkom by die Afrikaanse Christen Kerk in New Zealand<br />
            ACK Tauranga-gemeente
        </div>
    </div>
</div>
<br>
<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="text-align: center">
    <a class="btn btn-warning" routerLink="/aboutus">Ons Gemeente &raquo;</a>
    <div class="content">
      <a routerLink="/aboutus">
        <div class="content-overlay"></div>
        <img class="content-image" src="../../assets/Kerk2.jpg" style="width: 100%" />
        <div class="content-details fadeIn-top">
          <a class="btn btn-light" routerLink="/aboutus">Ons Storie...</a><br>
          <a class="btn btn-light" routerLink="/inligting">Kerk Inligting</a><br>
          <a class="btn btn-success" routerLink="/geloof">Geloofsverwoording<br>van die ACK NZ</a>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="text-align: center">
    <a class="btn btn-danger" routerLink="/eredienste">Eredienste &raquo;</a>
    <div class="content">
      <a routerLink="/eredienste">
        <div class="content-overlay"></div>
        <img class="content-image" src="../../assets/cross-sunset.jpeg" style="width: 100%" />
        <div class="content-details fadeIn-top">
          <a class="btn btn-light" routerLink="/eredienste">Eredienste</a><br>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="text-align: center">
    <a class="btn btn-warning" routerLink="/ligging">Waar is ons &raquo;</a>
    <div class="content">
      <a routerLink="/ligging">
        <div class="content-overlay">
        </div>
        <img class="content-image" src="../../assets/Direction3.jpg"
          style="width: 100%" />
        <div class="content-details fadeIn-top">
          <a class="btn btn-light" routerLink="/ligging">Waar is ons</a>
        </div>
      </a>
    </div>
  </div>

<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="text-align: center">
  <a target="blank" class="btn btn-danger" href="https://www.facebook.com/Afrikaanse-Christen-Kerk-Tauranga-ACK-Tauranga-130715893700159/">Facebook &raquo;</a>
  <div class="content">
    <a target="blank" href="https://www.facebook.com/Afrikaanse-Christen-Kerk-Tauranga-ACK-Tauranga-130715893700159/">
      <div class="content-overlay">
      </div>
      <img class="content-image" src="../../assets/fb3.jpg" style="width: 100%" />
      <div class="content-details fadeIn-top">
        <a target="blank" class="btn btn-light" href="https://www.facebook.com/Afrikaanse-Christen-Kerk-Tauranga-ACK-Tauranga-130715893700159/">Ons Facebook Blad</a>
      </div>
    </a>
  </div>
</div>  
</div>
<hr style="color: maroon;">
<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="text-align: center">
    <a class="btn btn-danger" href="C_News/Calendar.aspx">Latest News &raquo;</a>
    <div class="content">
      <a href="About.aspx">
        <div class="content-overlay"></div>
        <img class="content-image" src="Images/006.jpg" style="width: 100%" />
        <div class="content-details fadeIn-top">
          <h3>Latest News</h3>
          <p>See what is happening</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="text-align: center">
    <a class="btn btn-warning" href="~/Test.aspx">Upcoming Events &raquo;</a>
    <div class="content">
      <a href="About.aspx">
        <div class="content-overlay"></div>
        <img class="content-image" src="Images/002.jpg" style="width: 100%" />
        <div class="content-details fadeIn-top">
          <h3>Upcoming Events</h3>
          <p>See what is happening</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="text-align: center">
    <a class="btn btn-danger" href="~/Test.aspx">Upcoming Events &raquo;</a>
    <div class="content">
      <a href="About.aspx">
        <div class="content-overlay"></div>
        <img class="content-image" src="Images/003.jpg" style="width: 100%" />
        <div class="content-details fadeIn-top">
          <h3>Latest News</h3>
          <p>See what is happening</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="text-align: center">
    <a class="btn btn-warning" href="~/Test.aspx">Face-book &raquo;</a>
    <div class="content">
      <a href="About.aspx">
        <div class="content-overlay"></div>
        <img class="content-image" src="Images/003.jpg" style="width: 100%" />
        <div class="content-details fadeIn-top">
          <h3>Like us on Facebook</h3>
          <p>Edgecumbe College on Facebook</p>
        </div>
      </a>
    </div>
  </div>
</div>

<!-- 
<div class='col-12 intro'>
    <div class='col-12' style="text-align: center;">
        <div style='width: 100%; height: 20%; margin: 0 auto;' class='center heading'>
            <div [fittext]="true" 
                 [compression] = "1"
                 [delay] = "0"
                 [minFontSize] = 16>
                Ek nooi almal hartlik uit na ons erediens komende Sondagaand om 18:00.
            </div>
        </div>
    </div>
    <hr>
    <div class='row'>
        <div class='col-12 col-md-4 col-lg-3'>
            <div style='width: 100%; margin: 0 auto;' class='heading'>
                <div>
                    TEMA:
                </div>
            </div>
        </div>
        <div class='col-12 col-md-8 col-lg-9'>
            <div style='width: 100%; margin: 0 auto;' class='subHeading'>
                <div>
                    Tema vir die dag
                </div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-12 col-md-4 col-lg-3'>
            <div style='width: 100%; margin: 0 auto;' class='heading'>
                <div>
                    SKRIFLESING:
                </div>
            </div>
        </div>
        <div class='col-12 col-md-8 col-lg-9'>
            <div style='width: 100%; margin: 0 auto;' class='subHeading'>
                <div>
                    Numeri 13:27-33 EN 1 Samuel 17:1-11, 32-37, 40-51.
                </div>
            </div>
        </div>
    </div>
    <hr>
    
    <img id='logo' alt='Angular Logo' src='../assets/ACKLogo.png' />
  
</div> -->


<!-- <div class='intro'>
    <div class='col-12' style="text-align: center;">
        <div style='width: 100%; height: 20%; margin: 0 auto;' class='center heading'>
            <div>
                Ek nooi almal hartlik uit na ons erediens komende Sondagaand om 18:00.
            </div>
        </div>
    </div>
    <hr>
    <div class='row'>
        <div class='col-12 col-md-4 col-lg-3'>
            <div style='width: 100%; margin: 0 auto;' class='heading'>
                <div>
                    TEMA:
                </div>
            </div>
        </div>
        <div class='col-12 col-md-8 col-lg-9'>
            <div style='width: 100%; margin: 0 auto;' class='subHeading'>
                <div>
                    Tema vir die dag
                </div>
            </div>
        </div>
    </div>

    <div class='row'>
        <div class='col-12 col-md-4 col-lg-3'>
            <div style='width: 100%; margin: 0 auto;' class='heading'>
                <div>
                    SKRIFLESING:
                </div>
            </div>
        </div>
        <div class='col-12 col-md-8 col-lg-9'>
            <div style='width: 100%; margin: 0 auto;'class='subHeading'>
                <div>
                    Numeri 13:27-33 EN 1 Samuel 17:1-11, 32-37, 40-51.
                </div>
            </div>
        </div>
    </div>
        <hr>

    <img id='logo' alt='Angular Logo' src='../assets/ACKLogo.png' />
</div> -->