// #intro {
// //  text-align: center;
//   background-color: white;
//   color: black; margin: 2em;
// }

.intro {
  text-align: center;
  background-color: white;
  color: black; 
  margin: 3em;
  margin-left: -10px; 
}

// #logo {
//   width: "80%"
// }

// #info {
//   text-align: center;
//   margin: auto;
//   width: 80%;
//   line-height: 1;
// }
.heading {
  font-size: 2em;
  font-weight: bold;
  text-align: left;
}
.subHeading {
  font-size: 2em;
  text-align: left;
}
.center {
  text-align: center
}
.left {
  text-align: left;
}
// .right {
//   text-align: right;
// }
