<div class="col-12">
    <div style="width: 100%; height: 20%; margin: 0 auto;" class="center">
        <div fittext>
            Welkom by die Afrikaanse Christen Kerk in New Zealand<br />
            ACK Tauranga-gemeente
        </div>
    </div>
</div>

<div class="intro">
    <div class="col-12">
        <div style="width: 100%; height: 20%; margin: 0 auto;" class="center">
            <div fittext>
                Ek nooi almal hartlik uit na ons erediens komende Sondagaand om 18:00.
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-3">
                <div fittext>
                    TEMA:
                </div>
            </div>
            <div class="col-12 col-lg-9">
                <div fittext>
                    Dit is 'n toets
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-3">
                <div fittext>
                    SKRIFLESING:
                </div>
            </div>
            <div class="col-12 col-lg-9">
                <div fittext>
                    Numeri 13:27-33 EN 1 Samuel 17:1-11, 32-37, 40-51.
                </div>
            </div>
        </div>
        <img id="logo" alt="Angular Logo" src="../assets/ACKLogo.png" />

    </div>