<h2>Geloofsverwoording van die ACK NZ</h2>

<p class='heading'>God</p>
<h4>Ons glo</h4>
<ul class="b">
  <li>in die heilige, unieke God wat Homself openbaar het as Vader, Seun en Heilige Gees – God Drie-enig.</li>
  <li> dat God as Vader alles gemaak het en daarvoor sorg</li>
  <li> dat God as Seun die sonde en ellende van ons bestaan oorwin het en dit uiteindelik heeltemal sal wegneem</li>
  <li> dat God as Heilige Gees vir ons intree en ons leer wat die waarheid is en hoe om volgens die waarheid te leef</li>
  <li> dat God die Vader steeds die wêreld waarin ons leef, regeer as die goeie en liefdevolle Vader wat sy kinders lei, versorg en beskerm.</li>
  <li> dat God die Seun as die ware mens Jesus gely en gesterf het vir wat op aarde verkeerd is; dat Hy as bewys van sy oorwinning oor die kwaad opgewek is en nou by sy Vader is; en dat Hy weer sal kom vir die finale heelmaak van alle dinge en vir die nuwe lewe saam met God</li>
  <li> dat God die Heilige Gees die hele skepping nader laat beweeg aan die nuwe lewe saam met God; dat die Gees aan elke gelowige die geloof skenk, ons lei om die Bybel te verstaan en ons leer hoe om as Christene te lewe</li>
</ul>
 
<p class='heading'>Die Bybel</p>
<h4>Ons glo</h4>
<ul class="b">
<li> dat ons deur die Bybel leer wie God is</li>
<li> dat God vandag nog deur die Bybel met ons praat.</li>
<li> dat die Bybel onder leiding van die Heilige Gees deur mense geskryf is en dat die Heilige Gees die gelowiges as gemeenskap kan lei om die Bybel in hulle tyd te verstaan</li>
<li> dat die Bybel die blye boodskap is van God se liefde vir mense</li>
<li> dat die Bybel ook vertel van God se veroordeling van die kwaad</li>
<li> dat die onderskeie dele van die Bybel verskillend aangebied word – as vertellings oor die voorgeskiedenis, profesieë, gedigte, reisbeskrywings, verhale, briewe – en dat elke Skrifdeel aan die hand van sy besondere aard en in die lig van die geheel verstaan en verklaar moet word.</li>
</ul>

<p class='heading'>God se Koningkryk</p>
<h4>Ons glo</h4>
<ul class="b">
<li> dat God sy Koninkryk vestig en volledig sal laat kom</li>
<li> dat God oor alles en almal regeer</li>
<li> dat die koninkryk van God dáár deurbreek waar God se wil geskied en waar wat stukkend is, weer heelgemaak word</li>
<li> dat die koninkryk van God nou reeds teenwoordig is, maar eers volheid sal bereik wanneer Christus weer kom</li>
<li> dat gelowiges en die kerk geroep word om op elke terrein van die lewe na God se wil te soek en sigbare tekens van God se koninkryk op te rig.</li>
</ul>

<p class='heading'>Die Kerk</p>
<h4>Ons glo</h4>
<ul class="b">
<li> dat die kerk mense is wat God uit liefde geroep en gered het.</li>
<li> dat die Here sy kerk lief het soos ‘n bruidegom sy bruid liefhet</li>
<li> dat die kerk gesien word in gemeentes waar mense God aanbid en mekaar in die geloof versterk, in vergaderings en samekomste waar dit duidelik word dat gelowiges één in Christus is en in die gewone lewe waar gelowiges elke dag as kerk leef.</li>
<li> dat Jesus Christus die enigste Here en Hoof van die kerk is</li>
<li> dat die kerk menslik is en daarom vol foute en mislukkings is. Ons weet ons stel God én mense dikwels teleur, maar ons glo dat God ons as kerk nogtans liefhet en gebruik. Ons moet mekaar op die weg van die geloof help</li>
<li> dat ons die kerk lief het en aktief daarin werk, maar dat ons nooit tevrede mag wees met die kerk se tekortkominge nie en dit moet probeer regmaak</li>
<li> dat vir die kerk se lewe na binne die volgende sake baie belangrik is:</li>
<li> om God in ons samekomste te aanbid en te loof</li>
<li> om die Bybel te lees en na die verkondiging daarvan te luister, daaroor te praat en uit dankbaarheid daarvolgens te lewe</li>
<li> om gereeld die sakramente te vier</li>
<li> om mekaar te aanvaar en liefde aan mekaar te betoon</li>
<li> om mekaar te dien en te versorg</li>
<li> om mekaar terug te roep as ons van Christus sou wegdwaal</li>
<li> dat vir die kerk se lewe na buite die volgende sake baie belangrik is:</li>
    <ul class="a">
      <li>om só te lewe dat álle mense kan sien dat ons die Here en ons naaste liefhet</li>
      <li> om die nuus dat God almal liefhet en dat Jesus Christus ons Redder is, aan een en almal te vertel</li>
      <li> om die liefde van God oral deur dade sigbaar te maak waar daar nood en lyding is</li>
      <li> om te werk vir reg, vrede en gesonde waardes en daardeur onreg, diskriminasie, misdaad, geweld en morele verval teen te werk</li>
      <li> om ons daarvoor te beywer dat al hoe meer van die eenheid van die kerk van Jesus Christus gesien kan word. Hierdie eenheid is ‘n werklikheidwat ons van die Here ontvang en nou reeds op allerlei maniere mag ervaar en geniet. Die kerk word opgeroep om aan hierdie eenheid gestalte te gee.</li>
      </ul>
 <li>dat die Here baie gawes aan die gemeente gegee het: die Bybel, die doop en die nagmaal, lidmate met allerlei talente. Ons moet seker maak dat ons hierdie en ander gawes gebruik soos die Here wil hê dat ons dit moet doen.</li>
</ul>

<p class='heading'>Sakramente</p>
<h4>Ons glo</h4>
<ul class="b">
  <li>dat die doop en nagmaal twee tekens is wat ons van God se liefde vir ons verseker en ons geloof sterker maak</li>
  <li> dat die doop met water ‘n teken is van God se genade en dat Jesus Christus ons sonde deur sy bloed van ons afwas, net soos wat ons onsself met water skoonwas</li>
  <li> dat die doop vir ons sê dat die beloftes wat God deur die eeue aan gelowiges gemaak het, ook vir ons geld. God het belowe om vir ons Gód te wees en dat ons God se kinders kan wees. Die Here het belowe om end uit deur die Heilige Gees met ons te wees en in ons te woon en ons op die regte pad te lei</li>
  <li> dat die nagmaalsbrood en die wyn sigbare tekens is wat ons herinner hoe Jesus se liggaam vir al ons sondes stukkend gebreek is, en hoe sy bloed in ons plek gevloei het om ons te red.</li>
  <li> dat die lewende Here ons eregas by die nagmaal is. Ons kyk ook gelowig vorentoe na die dag wanneer ons almal saam in God se nuwe wêreld gaan feesvier</li>
  <li> dat, hoewel Christene soms onder mekaar oor aspekte van die doop en nagmaal verskil, dit ons nie van mekaar moet vervreem nie. Ons geloof in Jesus Christus bind ons aan mekaar en dit is baie sterker as die verskille tussen ons</li>
</ul>

<p class='heading'>Die Mens</p>
<h4>Ons glo</h4>
<ul class="b"> 
  <li> dat God ons volgens ‘n unieke plan geskep het</li>
  <li> dat die mens in gehoorsaamheid aan God, onder die leiding van die Heilige Gees en in ‘n gesindheid van liefde moet optree</li>
  <li> dat alle mense gelykwaardig is</li>
  <li> dat God ons wonderlik en besonders as man en vrou gemaak het</li>
  <li> dat die mens van nature in opstand teen God kom en sodoende verwyderd van God raak</li>
  <li> dat die Seun van God self mens geword het om die pad na God toe weer vir ons oop te maak</li>
  <li> dat die mens in Christus ‘n nuut is en herstel word om as nuwe mens te lewe</li>
  <li> dat ons onsself eers ken as ons God ken</li>
  <li> dat God mense gemaak het om mekaar te ondersteun en te waardeer</li>
  <li> dat mens-wees binne ‘n netwerk van verhoudings tot volle ontplooiing kom</li>
  <li> dat Jesus Christus aan mense se lewe sin gee</li>
  <li> dat ons God bo alles moet liefhê en ander mense soos ons onsself moet liefhê</li>
  <li> dat ons aktief alle vorme van onreg teen en benadeling van ander mense moet bestry</li>
  <li> dat ons, in navolging van Jesus, moet omgee vir, uitreik na en hulp verleen aan die randfigure van ons samelewing,</li>
  <li> dat ons die voorreg en verantwoordelikheid het om die skepping te bestuur en te bewaar</li>
</ul>
<br>