
.sidenav-container {
  height: 100%;
}
.mainBackGround {
  background: -webkit-linear-gradient(270deg, rgba(5, 25, 43, 1) 10%, rgba(5, 25, 43, 1) 11%, rgba(11, 59, 104, 1) 80%, rgba(12, 60, 105, 1) 81%);
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../assets/cross-sunset.jpeg");
  height: 100%;  */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
  font-size: 1.25em;
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
/* background-color:whitesmoke; */

}

.sidenav {
  width: 100px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
  
}
.hidden {
  display: none;
}

/* @media (min-width: 700px) {
  .sidenav {
    display: none;
  }
} */

.sideButton {
  line-height: 1;
  padding: auto;
  top: 0;  
}

.sideItems {
  margin-bottom: 0.5em;
  border: solid 1px white;
  padding: 5px;
}

#Name {
  color: white; 
  max-width: 10em; 
  left: 0;
  position: absolute;
}
#hamburger {
  left: 0;
  position: absolute;
}
.sideMenu {
  line-height: 1;
  padding: auto;
}

#cdk-overlay-0 > div {
  border-radius: 20px;
}

.sideMenu.button {
  background-color: maroon;  
}

.sideMenuddItem {
  background-color: maroon;
  border-radius: 20px;
  border: 2px solid yellow;
  margin: 5px;
  left: -5px;
  color: white;
}
.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: maroon;
  text-align: -webkit-right;
  /* position: fixed; */
}

mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.content {
  /* padding-left: 20px; */
  margin-top: 0;
  z-index: 1;
  /* background-color:whitesmoke; */

}
.mat-toolbar.mat-primary {
  background: maroon;
  color: #fff;
  align-items: baseline;
}
.mat-drawer {
  background-color: rgba(0,0,0,0.12);
  color: #f8f9fa;
}