<div style='background-color: rgb(223, 217, 217); 
           border: solid 1px black; color: black; width: 95%; padding-left: 0.5%'>
    <h3>Stuur Epos aan Gemeente</h3>
    <div class="form-group" style="width: 80%; padding-left: 2%">
      <label style='color: black'>Onderwerp</label>
      <input style='width:95%; border: solid 1px black; color: black; background-color: white;' 
      name="Subject" #Subject="ngModel"
        [(ngModel)]="composeEmail.Subject" class="form-control" required>
      <div class="validation-error" *ngIf="Subject.invalid && Subject.touched">Verpligte veld.</div>
    </div>
    <!-- <ejs-richtexteditor></ejs-richtexteditor>    -->
    <!-- <ejs-richtexteditor #toolsRTE id='alltoolRTE' [toolbarSettings]='tools' ></ejs-richtexteditor> -->
    
    
    <form>        
       <div class="form-group"  style="width: 90%; padding-left: 1%">
        <label style='color: black'>Boodskap</label>
        
        <div style="background-color: white;">
          <ejs-richtexteditor  name="Body" #Body="ngModel"
          [(ngModel)]="composeEmail.Body"
          [placeholder]="'Boodskap vir die gemeente...'" 
          [spellcheck]="true"
          height="350px" minHeight="50px"
          [toolbarSettings]='tools'></ejs-richtexteditor>
          <!-- <app-ngx-editor 
          name="Body" #Body="ngModel"
          [(ngModel)]="composeEmail.Body"
          [placeholder]="'Boodskap vir die gemeente...'" 
          [spellcheck]="true" 
          height="50px" minHeight="50px"></app-ngx-editor> -->
        </div>
        <div class="validation-error" *ngIf="Body.invalid && Body.touched">Verpligte veld.</div>
      </div>
      <a class="btn btn-primary" (click)="sendEmail()">Stuur E-pos</a>
    </form>    
  </div>  
<ngx-spinner
bdOpacity = 0.9
bdColor = ""
size = "medium"
color = "#f30808"
type = "ball-running-dots"
fullScreen = "false">
<p style="color: white" > Loading... </p>
</ngx-spinner>