<div class="jumbtron">
  <!-- <h4 class="text-center">Lidmate</h4> -->
  <div class="row">
    <div class="col-md-5">
      <app-lidmate-lys (getDetails)="getDetails($event)" [lidmate]="mense"></app-lidmate-lys>
    </div>
    <div class="col-md-7">
      <div style='margin-top: 2em; margin-left: 1em'>
        <h5>{{ lidmaatDetails }}</h5>
      </div>
      <div class="container">
        <div class="row">
          <div class="col s8">
            <div class="card grey lighten-2">
              <div class="card-tabs">
                <ul class="tabs-fixed-width tabs-transparent">
                  <li class="tab">
                    <button type="button" class="btn btn-info" (click)='persoonlik()' [hidden]="isVisible">Na
                      Persoonlike Inligting</button>
                  </li>
                  <li class="right">
                    <button type="button" class="btn btn-warning" (click)='adres()' [hidden]="!isVisible">Na Adres
                      Inligting</button>
                  </li>
                </ul>
              </div>
              <div class="card-content white">
                <div class="row">
                  <div [hidden]="!isVisible">
                    <app-lidmaat #lidmaat></app-lidmaat>
                  </div>
                  <div [hidden]="isVisible">
                    <app-lid-address #address (updateLidmaat)="lidmaat.updateLidmaat($event)"></app-lid-address>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
