<div class="jumbtron">
  <!-- <h4 class="text-center">Lidmate</h4> -->
  <div class="row">
    <div class="col-md-5">
      <app-lidmate-lys #lys [wikiLys]="wikiLys" ></app-lidmate-lys>
    </div>
    <div class="col-md-7">
      <div class="row" style="flex-wrap: unset; margin-bottom: 0px;">         
        <div class="col-sm-8" style='margin-top: 0em; margin-left: 1em'>        
        <h5>{{ this.globals.lidmaatDetails }}</h5>        
      </div>
     
    </div> 
      <div class="container">
            <div class="card grey lighten-2">
              
              <div class="card-content white">
                  <div [hidden]="!isVisible">
                    <app-lidmaat #lidmaat (updateLys)="updateList()" ></app-lidmaat>
                  </div>
                 
              </div>
            </div>        
      </div>
    </div>
  </div>
</div>
<ngx-spinner
bdOpacity = 0.9
bdColor = "rgba(51,51,51,0.8)"
size = "medium"
color = "#f30808"
type = "ball-running-dots"
fullScreen = "false">
<p style="color: rgb(251, 255, 0)" > Loading... </p>
</ngx-spinner>
