<h2>Bedieninge van die ACK Tauranga</h2>

<p class='heading'>Kerkraad</p>
<h4></h4>
<ul class="b">
  <li>Die Kerkraad funksioneer as die bestuur van die gemeente in samewerkimg met die leeraar</li>
  <li>Die kerkraad vergader maandeliks op die tweede Sondag van die maand na afloop van die erediens</li>
  <li>Kommunikasie met die kerkraad word verwelkom</li>
  <li>Vir amptelike doeleindes word skriftelike kommunikasie verkies (Brief of epos)</li>
</ul>

<p class='heading'>Verwelkoming</p>
<h4></h4>
<ul class="b">
    <li>Die verwekomings bediening bestaan uit vrywillegers wat graag besoekers by die erediens verwelkom</li>
   <li>Indien jy ons vir die eerste keer besoek meld asb aan by die verwekoming span wat navrae sal hanteer en sal help om jou tuis te laat voel</li>
</ul>

<p class='heading'>Gasvryheid</p>
<h4></h4>
<ul class="b">
   <li>Die gasvryheids bediening bestaan uit vrywillegers wat na afoop van die diens dit moontlik maak om gesellig saam te verkeer om 'n koppie koffie</li>
</ul>

<p class='heading'>Jeug Bediening</p>
<h4></h4>
<ul class="b">
  <li>Die bediening van kinders in die gemeente vind plaas volgens ouderdoms verdeling tydens die erediens</li>
  <li>Ons verwelkom kinders in die diens tot na afloop van 'n kort kinder boodskap waarna die Sondag skool in aanvang neem</li>
  <li>Kwartaalikse uitstappies word beplan en ouers is welkom om mee te doen</li>
  <li>Aan die einde van die jaar sluit ons af met 'n kerssangdiens waarin ons die betrokkenheid van ons kinder beklemtoon</li> 
</ul>


<p class='heading'>Kategese</p>
<h4></h4>
<ul class="b">
   <li>Vir Jonger en Ouer volwassenes volgens behoefte</li>
  <li></li>
 
</ul>


<p class='heading'>Uitreik</p>
<h4></h4>
<ul class="b">
   <li>Gemeenskaps projekte en evangelisasie word verwelkom volgens die inisiatief van lidmate en die kerkraad</li>
</ul>


<p class='heading'>Dien van baramhartigheid</p>
<h4></h4>
<ul class="b">
   <li>Ons neem graag kennis van individue of gesinne wat weens omstandighede spesiale behoeftes het</li>
  <li><u>Hospitaal en pastorale besoeke</u></li>
    <ul>
      <li>Ons neem graag kennis van mede Suid Afrikaners wat ondresteuning nodig het</li>
    </ul>
 </ul>
