Aantal Lidmate: {{ filteredLidmate.length }}<br/>
<app-filter-textbox style="margin-bottom: 0.5em;" [hidden]="!(this.globals.filter)" (changed)="filter($event)"></app-filter-textbox>
<button style="color: maroon; margin-top: 2.5em; margin-bottom: 0.5em" [hidden]="this.globals.filter" (click)="changeVisibility()">Lidmaat Lys</button>
<select class="custom-select" style="width: 8em; margin-left: 15px;" name="isActive" #isActive="ngModel" 
[(ngModel)]="this.globals.activeOnly" (change)="getActive()">
    <option value="True">Aktief</option>
    <option value="">Onaktief</option>
    <option value="All">Almal</option>
    <option value="Birthday">Verjaarsdae</option>
    <option value="Wyke">Wyk Indeling</option>
  </select>
<!-- <hr style="border-width: 2px; border-color: white;"/> -->

<div id="scrollable-area">
<table class="table table-hover">
    <thead>
        <tr>
            <th (click)="sort('FirstName')">Naam</th>
            <th (click)="sort('LastName')">Van</th>
            <th (click)="sort('LastVisit')">Laaste Besoek</th>           
        </tr>
    </thead>
    <tr *ngFor="let lid of filteredLidmate">
        <td (click)="populateForm(lid)">
            <a>
                {{ lid.FirstName | capitalize}}
            </a>
        </td>
        <td (click)="populateForm(lid)">{{ lid.LastName | capitalize}}</td>        
        <td (click)="populateForm(lid)">{{ lid.LastVisit | date: 'dd-MMM-yy' }}</td>        
    </tr>   
    <tr  [hidden]='!(this.globals.isSyncing)'>
        <td colspan="4">           
                <div id="syncContainer">
                        <a><svg id="syncIcon" 
                                xmlns="http://www.w3.org/2000/svg" 
                                width="48" 
                                height="48" 
                                viewBox="0 0 48 48" 
                                fill="yellow">
                            <path d="M24 8v-6l-8 8 8 8v-6c6.63 0 12 5.37 12 12 0 2.03-.51 3.93-1.39 
                            5.61l2.92 2.92c1.55-2.48 2.47-5.39 2.47-8.53 0-8.84-7.16-16-16-16zm0 
                            28c-6.63 0-12-5.37-12-12 0-2.03.51-3.93 1.39-5.61l-2.92-2.92c-1.55 2.48-2.47 
                            5.39-2.47 8.53 0 8.84 7.16 16 16 16v6l8-8-8-8v6z" />
                            <path d="M0 0h48v48h-48z" fill="none" />
                          </svg>
                        </a>  Kry Inligting...
                      </div>
        </td>
    </tr>
    <tr *ngIf="!filteredLidmate || !filteredLidmate.length">
        <td colspan="4">Geen lidmate gevind nie</td>
       
    </tr>
</table>
</div>


<ngx-spinner
bdOpacity = 0.9
bdColor = "rgba(51,51,51,0.8)"
size = "medium"
color = "#f30808"
type = "ball-scale-multiple"
fullScreen = "false">
<p style="color: rgb(251, 255, 0)" > Loading... </p>
</ngx-spinner>

