<app-filter-textbox (changed)="filter($event)"></app-filter-textbox>
<button style="color: maroon;" [hidden]="isVisible" (click)="changeVisibility()">Lidmaat Lys</button>
<br />
<div id="scrollable-area">
<table class="table table-hover">
    <thead>
        <tr>
            <th (click)="sort('FirstName')">Naam</th>
            <th (click)="sort('LastName')">Van</th>
            <th (click)="sort('LastVisit')">Laaste Besoek</th>           
        </tr>
    </thead>
    <tr *ngFor="let lid of filteredLidmate">
        <td (click)="populateForm(lid)">
            <a>
                {{ lid.FirstName | capitalize}}
            </a>
        </td>
        <td (click)="populateForm(lid)">{{ lid.LastName | capitalize}}</td>
        <td (click)="populateForm(lid)">{{ lid.LastVisit | date: 'dd-MMM-yy' }}</td>        
    </tr>   
    <tr *ngIf="!filteredLidmate || !filteredLidmate.length">
        <td colspan="4">Geen lidmate gevind nie</td>
    </tr>
</table>
</div>
Aantal Lidmate: {{ filteredLidmate.length }}
