<app-filter-textbox></app-filter-textbox>
<br />
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>Naam</th>
            <th>Van</th>
            <th>Laaste Besoek</th>
        </tr>
    </thead>
    <tr *ngFor="let lid of filteredLidmate">
        <td>
            <a>
                {{ lid.FirstName }}
            </a>
        </td>
        <td>{{ lid.LastName }}</td>
        <td>{{ lid.LastVisit }}</td>
    </tr>
    <tr *ngIf="filteredLidmate && filteredLidmate.length">
        <td colspan="2">&nbsp;</td>
        <td>
            <!-- {{ customersOrderTotal }} -->
            totaal
        </td>
    </tr>
    <tr *ngIf="!filteredLidmate || !filteredLidmate.length">
        <td colspan="4">Geen lidmate gevind</td>
    </tr>
</table>
Aantal Lidmate: {{ filteredLidmate.length }}
<br />