<div>
  <h3>

    <p>
      <u>Straat Adres:</u><br>
      134 16de Laan Tauranga Suid
    </p>

    <p>
      <u>Email Adres:</u><br>
      2m.weyers@gmail.com
    </p>

    <p>
      <u>Kontak Nr:</u><br>
      Mario Weyers:<br>
      022 089 4395
    </p>

    <!-- <a href="mailto:2m.weyers@gmail.com?subject=Internet Navraag&body=">Email ons</a> -->
  </h3>
</div>
<div class='cols-sm-12 col-md-4' style='background-color: rgb(223, 217, 217); 
           border: solid 1px black; color: black'>
<h3>Stuur vir ons 'n Email</h3>
<form>
  <div class="form-group">
    <label style='color: black'>Naam</label>
    <input style='background-color: gray' name="naam" #naam="ngModel" [(ngModel)]="composeEmail.naam" class="form-control" required>
    <div class="validation-error" *ngIf="naam.invalid && naam.touched">Verpligte veld.</div>
  </div>
  <div class="form-group">
    <label style='color: black'>Kontak Email Adres</label>
    <input  style='background-color: gray' name="emailFrom" #emailFrom="ngModel" [(ngModel)]="composeEmail.emailfrom" class="form-control" required>
    <div class="validation-error" *ngIf="emailFrom.invalid && emailFrom.touched">Verpligte veld.</div>
  </div>
  <div class="form-group">
    <label style='color: black'>Onderwerp</label>
    <input style='background-color: gray'  name="subject" #subject="ngModel" [(ngModel)]="composeEmail.subject" class="form-control" required>
    <div class="validation-error" *ngIf="subject.invalid && subject.touched">Verpligte veld.</div>
  </div>
  <div class="form-group">
    <label style='color: black'>Boodskap</label>
    <textarea style="width:95%; background-color: white; height: 10em;" 
            name="body" #body="ngModel" [(ngModel)]="composeEmail.body" ></textarea>
    <div class="validation-error" *ngIf="subject.invalid && subject.touched">Verpligte veld.</div>
  </div>

 </form>
<a class="btn btn-primary" (click)="sendEmail()">Send</a>
</div>