// /* You can add global styles to this file, and also import other style files */
html,
 body {
   height: 100%;
 }
// /* You can add global styles to this file, and also import other style files */
.noTop {
  margin-top: 0;
}

body {
   margin: 0;
 background: #F2F2F9;
   font-family: 'Montserrat', sans-serif;
 }

 #myBody {
  ul {
    list-style-type: none;
    margin:0;padding:0;

    li {
        background: #fff;
        border-radius: 8px;
        padding-right: 100px;
        margin-bottom: 8px;

        a {
            font-size: 1.5em;
            text-decoration: none;
            font-weight: bold;
            color:#00A8FF;
        }

        ul {
            margin-top: 20px;

            li {
                padding:0;

                a {
                    font-size: 1em;
                    font-weight: 300;
                }

            }
        }
    }
}

 }

 .mat-drawer-content {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    overflow: hidden;
}
 #container {
  height: 100%;

  #content {
    //   z-index: 1;
   //   padding: 40px 40px;

   

      ul {
          list-style-type: none;
          margin:0;padding:0;

          ul.b {
           list-style-type: square;
            }
            ul.a {
                list-style-type: circle;
            }


          li {
              background: #fff;
              border-radius: 8px;
              padding-right: 100px;
              margin-bottom: 8px;

              a {
                  font-size: 1.5em;
                  text-decoration: none;
                  font-weight: bold;
                  color:#00A8FF;
              }

              ul {
                  margin-top: 20px;

                  li {
                      padding:0;

                      a {
                          font-size: 1em;
                          font-weight: 300;
                      }

                  }
              }
          }
      }
  }
  div.sm-jumbotron{
   margin: 0px;
   padding: 2rem;
   background-color: #38547b;
   color: #fff;
 }

 
 input.ng-invalid.ng-dirty{
   border-bottom-color: red !important;
   box-shadow: 0 1px 0 0 red !important;
 }
 }
.test {
    background-color: aqua;
}

  .pullRight {
     float: right;
  }

  .fontMedium {
      font-size: 3em;
  }
  .fontXSmall {
     font-size: 0.5em;
  }
  .fontSmall1 {
     font-size: 1em;
  }

  .fontSmall {
     font-size: 2em;
 }
 .blackFont {
     color: black;
  }
  .whiteFont {
    color: white;
 }

 .smallBottom {
     margin-bottom: 0;
 }

.left {
    text-align: left;
}
.right {
    text-align: right;
}
.heading {
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  color: peachpuff;
  text-decoration: underline;
}
.subHeading {
  font-size: 2em;
  text-align: left;
}
.center {
  text-align: center;
}
.mainMenu {
    color: whitesmoke;
    text-align: center;
    font-size: 2em;
}
.font15 {
    font-size: 1.5em;
}
.font2 {
  font-size: 2em;
}
.font05 {
  font-size: 0.5em;
}
.max_Width_80 {
    max-width: 80%;
}
.menuWidth {
    width: 50%;
    font-size: 70%;
    margin-bottom: 2.5px;
    margin-top: 2.5px;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 0;
    height: auto;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
     background-color: transparent; 
}
.mat-form-field {
    max-height: 1em;
}
input[type=email]:not(.browser-default) {
    color: yellow;
}

#scrollable-area {
    margin: auto;
    margin: 2mm;   
    max-height: 600px;
    overflow-y: scroll; /* <-- here is what is important*/
  }
#LastNotes {
    height: 200px;
    color: yellow;
}

// Sign Up
div.sm-jumbotron{
    margin: 0px;
    padding: 2rem;
    background-color: #38547b;
    color: #fff;
}
 
button.btn-submit{
    background-color: #38547b;
    color: #fff;
    width: 100%;
}
button.btn-submit:focus,button.btn-submit:hover{
    background-color: #38547b;
}
button:focus{
    background-color :red;
    border: solid 1px yellow;
}
.mat-menu-item:hover:not([disabled]) {
    background-color : red;
    border: solid 1px yellow;
}


input.ng-invalid.ng-dirty{
    border-bottom-color : #e91e63 !important;
    box-shadow: 0 1px 0 0 #e91e63 !important;
}
/*for error div i*/
div.error-message i{
    vertical-align: middle !important;
}
 
/*for tab control*/
.tabs{
    height: 65px;
}
.tabs .tab{
    text-transform : none !important;
    line-height: 65px;
    height: 65px;
}
.tabs .tab a{
    font-size: 25px;
    color: white !important;
}
.input-field .prefix.active {
    color: maroon;
}
 
.tabs .tab a.active{
    background-color:  rgba(12, 60, 105, 1) !important;
}

.card .card-content {
    background-color:  rgba(12, 60, 105, 1) !important;
}
.app-sign-up > form {
    background-color:  rgba(12, 60, 105, 1) !important;
}
// SignUp

//Employee
.form-group > label {
    color: white;
    margin-bottom: 0%;
    font-weight: bold;
    font-size: 1em;
}
[type="checkbox"]+label:before, [type="checkbox"]:not(.filled-in)+label:after {
    border: 2px solid red;
}
.form-group>input{
    font-weight: bolder;
    height: 1.5em;
}

.dateLabel {
    color: white;
    margin-bottom: 0%;
    font-weight: bold;
    font-size: 1em;
}

.form-group {
    margin-bottom: 1em;    
}

button[type="submit"]{
    background-color: #67dfd4;
    color: #fff;

}
.jumbotron{
    background-color: #fff;
    padding-top: 32px;
}

table tr:hover{
    cursor: pointer;
}

input.ng-touched.ng-invalid{
    border-color: #dc3545;
}
div.validation-error{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}
input:not([type]) {
    color: yellow;
}


// xx Employee

// ###############################################################################


/* You can add global styles to this file, and also import other style files */
//@import "~angular-notifier/styles";

#syncContainer {
  display: inline-block;
  padding-top: 0px;
  padding-left:10px;
  color: white;  

  #syncIcon {
    display: inherit;
    animation: syncRotate 1.5s linear infinite;
    transform-box: fill-box;
  }
}


@keyframes syncRotate {
  0% {
      transform: rotate(360deg);
  }
  100% {
      transform: rotate(0deg);
  }
}

.menuBlocks {
    text-align: center; color: black; background-color: White; opacity: 0.8;
          margin: 5px; height: 100%; padding: 10px;
}